@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Dosis:wght@200..800&family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-primary: "Italiana", serif;
    --font-secondary: "Dosis", serif;
    --font-tertiary: "Big Shoulders", sans-serif;
}



/*BARRA DE NAVEGAÇÃO*/
.NavBar {
    display: flex;
    justify-content: flex-end
}

.fixed-NavBar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0.822);
}

.logo-Nav {
    height: 35px;
    cursor: pointer;
}

.ListaNav {
    display: flex;
    justify-content: space-between;

}

.ItensNav {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.1s;
    font-family: "Dosis", serif;
}

lI {
    list-style: none;
}

.ItensNavLI:not(:last-child) {
    margin-right: 65px;
}

.ItensNav:hover {
    padding-bottom: 2px;
    border-bottom: 1px black solid;
}




/*CABEÇALHO*/
.Cabecalho {
    color: white;
    background-image: url("../img/PROJETOS/CASA\ EMA\ \ RECIFEPE/CAPE.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 800px;
    pointer-events: none;
    margin-bottom: 300px;
    position: relative;

}

.AreaLogoTitulo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
}

.AreaLogoTitulo h1 {
    font-size: 65px;
    font-family: "Italiana", serif;
    font-weight: 500;
    font-style: normal;
}

.Logo {
    margin-left: 35px;
    width: 400px;
    border-right: 2px white solid;
    padding-right: 25px;
    height: 200;
}

img {
    cursor: default;
}

.TiAndSub {
    padding-left: 25px;

}

.Subtitulo {
    display: flex;
    margin-top: 30px;
    font-family: "Dosis", serif;
}

.SubtituloMeio {
    border: 1px rgb(255, 255, 255) solid;
    border-top: none;
    border-bottom: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
}


/* SERVIÇOS */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(/assets/img/png/frentedesfoque.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 20px;
    margin-bottom: 200px;
    position: relative;
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.services h2 {
    font-size: 62px;
    font-family: var(--font-tertiary);
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 50px;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
}

.articleService {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 100%;
    padding: 40px;
    z-index: 2;
}

.articleService article {
    background: rgba(255, 255, 255, 0.15);
    /* Fundo translúcido */
    padding: 50px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease, 0.3s ease;
    backdrop-filter: blur(20px);
    color: white;
}

.articleService article:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.3);
}

.articleService article {
    margin-bottom: 25px;
}

.articleService article span {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--font-secondary);
    display: block;
    margin-bottom: 15px;
    color: white;
}


.leftArticle {
    margin-top: 25px;
    display: grid;
    grid-template-rows: 250px 250px 250px;
}

.midArticle {
    display: grid;
    grid-template-rows: 400px;
}

.rightArticle {
    margin-top: 25px;
    display: grid;
    grid-template-rows: 250px 250px 250px;
}




/* FORMULÁRIO E SOBRE */
.formAndAbout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('/assets/img/png/desenho1.png');
    height: 80vh;
}

.formEmail {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.formEmail h3 {
    margin-bottom: 64px;
    font-size: 42px;
    font-family: var(--font-tertiary);
    font-weight: 400;
    letter-spacing: 2px;
}

.inputLabel,
#labelMsg {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
    padding-bottom: 24px;
}

.inputLabel label {
    margin-bottom: 12px;
}

.inputLabel input,
#labelMsg textarea {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
    font-size: 16px;
    font-family: var(--font-secondary);
    font-weight: 400;
}

.inputLabel textarea {
    resize: none;
    width: 100%;

}

.submitBtn {
    width: 25%;
    margin-top: 58px;
    color: white;
    background-color: rgb(224, 12, 12);
    border: none;
    font-size: 20px;
    padding: 6px;
    font-family: var(--font-secondary);
    letter-spacing: 4px;
}


/* SEÇÃO SOBRE E CONTATO */
.aboutContact {
    position: relative;
    display: flex;
    height: 70vh;
    overflow: hidden;
}

.imageAA1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.about p {
    width: 90%;
}

.namemedia {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
}

.namemedia h4 {
    letter-spacing: 2px;
    font-family: var(--font-tertiary);
    font-weight: 400;
    font-size: 32px;
    margin: 25px 0;
}

.mediaitens {
    cursor: pointer;
}

.socialmedia a:not(:last-child) {
    padding-right: 12px;
}


/*FOOTER*/
footer {
    height: 22vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

footer .spanNome {
    font-size: 32px;
    font-family: var(--font-primary);
    padding-bottom: 24px;
}

footer p {
    font-family: var(--font-secondary);
}

footer .copy {
    padding-top: 24px;
    font-family: var(--font-secondary);
}